@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
} 

p {
  margin: .75rem 0;
}

ul {
  list-style: none;
}

.text-primary {
color: #93CB52;
}

.text-center {
  text-align: center;
}

.m-heading {
  font-size: 2rem;
  padding: .7rem 0;
}

.rem-1 {
  padding: 1rem;
}

.rem-2 {
  padding: 2rem;
}

.tb-rem-2 {
  padding: 2rem 0;
}

.btn {
  font-size: 1.1rem;
  color: white;
  background: #93CB52;
  align-self: center;
  padding: .8rem 1.4rem;
  border-radius: .3rem;
  margin-top: 1rem;
}

.bg-light {
  background-color: #eee;
}

.bg-dark {
  background-color: #333;
  color: white;
}

.white-txt{
  color: white;
}

.block{
  display: block;
}

/*NAVBAR*/
#navbar {
  display: flex;
  position: sticky;
  top:0;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: white;
  padding: .75rem;
  margin: 0 .25rem;
}

#navbar ul li a:hover {
  background: #93CB52;
  border-radius: .3rem;
}

#showcase {
  
  height: 100vh;
  background: url(../img/showcase.jpg) no-repeat center center/cover  ;
  color: white;
}

.showcase-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: rgba(0,0,0,.3);
}

.showcase-content h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: .75rem;
  margin-top: 1.5rem;
}

.showcase-content p {
  font-size: 1.5rem;
}

.showcase-content a {
  
}

.showcase-content a:hover {
  background: #7ab436;
}

/* What we do section */
.container {
  max-width: 80vw;
  margin: auto;
  padding-top: 2rem;

}

.usp {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
}

.item {
  display: flex;
  flex: 1;
  padding: 1rem;
}

.icon {
  display: flex;
}

.icon i {
  align-self: center;
  font-size: 2rem;
  padding: 1rem;
  background: #93CB52;
  border-radius: 50%;
  margin-right: 2rem;
}

/* Who we are */
#who {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.teamPhoto {
  background: url(../img/people.jpg) no-repeat center center/cover;
  max-width: 100%;
}

.staff {
  padding: .8rem 0;
  border-bottom: .8px solid #474747;
}

/* Client section */
.client-overview {

  justify-content: space-between;
} 
.logo-partner img {
  display: block;
  width: 60%;
  margin: auto;
}

#googleMap {
  width: 100%;
  height: 100%;
}

#contact {
  display: flex;
  background: #93CB52;
  min-height: 60vh;
}

#contact article{
  flex: 1;
}

#contact figure{
  flex: 2;
}

.contact-us {
  padding: 1rem 0 2rem 2rem;
}

.contact-us p {
  margin: 0;
}

label{
  margin-bottom: .3rem;
}

.input-user{
  width: 80%;
  line-height: 2;
  padding: .2rem;
}

form div {
  padding: .8rem 0;
}

#msg{
  resize: none;
}

.btn-dark{
  background: #333;
  color: white;
  width: 80%;
  padding: .4rem 0;
}

footer > p{
  background: #333;
  margin: 0;
}